.projectGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.project {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border-radius: 2rem;
	border: 0.2rem solid black;
	margin: 1rem;
	padding: 1rem;
	color: black;
	img {
		width: 15rem;
		margin-right: 0.5em;
	}
	.header {
		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
		width: 100%;
	}
}

.edit_project {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 1rem;
	padding: 1rem;
	>div {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 0.5rem 0;
		>* {
			margin: 0 0.5rem;
		}
	}
	li {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 0.5rem 0;
		>* {
			margin: 0 0.5rem;
		}	
		list-style: none;
	}
	img {
		width: 15rem;
		margin-right: 0.5em;
	}
}