@import 'src/styles/projects', 'src/styles/home';
html,
body {
	min-height: 100%;
	margin: 0;
}

* {
	margin: 0;
	font-family: sans-serif;
}

body {
	background: linear-gradient(to bottom right, #444444, #009a5b);
	font-size: 1.5rem;
}

h1,h2,h3,h4,h5,h6 {
	text-align: center;
}