<div id="<%= dom_id project %>" >
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>
  <p>
    <strong>Github name:</strong>
    <%= project.github_name %>
  </p>
  <% if project.image %>
    <%= image_tag(project.image, :class => "projectImage") %>
  <% else %> 
    <p>No image</p>
  <% end %> 

</div>
